@import 'carbon-components/scss/globals/scss/theme';
@import '~/client/App/App.scss';

$font-size: 0.8rem;
$ratio-after-content: "";

.deviceTileContainer {
    margin: $tile-spacing;

    position: relative;
    min-width: $tile-size;
    max-width: $tile-size * 1.2;

    flex-grow: 1;

    &:after {
        display: block;
        content: $ratio-after-content;
        margin-top: 100%;
    }

    .deviceTile {
        position: absolute;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        padding: $tile-spacing;

        font-size: $font-size;
        line-height: 1rem;

        background-color: $ui-02;

        .title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .menu {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .off {
        color: $inverse-01;
        fill: $inverse-01;
        background-color: $inverse-02;
    }
    .unknown {
        background-color: $support-01;
    }
    .warn {
        background-color: $support-03;
    }
    // .on {

    // }
}
