// @import 'carbon-components/scss/globals/scss/theme';

.powerIndicator {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 2rem;
    right: 2rem;
    bottom: 2rem;
    left: 2rem;

    .icon {
        width: 3rem;
        height: 3rem;
    }
}
