@import 'carbon-components/scss/globals/scss/theme';

$margin: 0.5rem;
$padding: 0.5rem;

.top-bar {
    @include type-style(productive-heading-03);
    display: flex;
    color: $text-04;
    background-color: $ui-05;
    font-weight: carbon--font-weight(light);

    div {
        margin-top: 0;
        margin-right: $margin;
        margin-bottom: 0;
        margin-left: $margin;
        padding: $padding;
    }
}
