@import 'carbon-components/scss/globals/scss/theme';

$icon-margin: 0.5rem;
$icon-margin-horizontal: 1rem;
$icon-padding: 0.5rem;

.bottom-bar {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $ui-02;

    div {
        margin: $icon-margin;
        margin-left: $icon-margin-horizontal;
        margin-right: $icon-margin-horizontal;
        padding: $icon-padding;
        cursor: pointer;

        &:hover {
            border-radius: 8rem;
            background-color: $ui-01;
        }
    }
}
