.brightnessSubIndicator {
    display: flex;
    align-items: center;

    position: absolute;
    bottom: 0rem;
    left: 0rem;

    padding: 0.35rem 0.5rem;

    .icon {
        width: 1.25rem;
        height: 1.25rem;
    }

    .brightnessValue {
        margin-left: 0.25rem;
    }
}
