@import '~/client/App/App.scss';

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 5rem;
    max-width: ($max-tile-size + $tile-spacing) * 4;
    margin-left: auto;
    margin-right: auto;

    h1 {
        margin: $spacing-03;
        width: 100%;
    }
}
