@import 'carbon-components/scss/globals/scss/theme';

$tile-padding: 1rem;

.device-tile {
    background-color: $ui-02;
    padding: $tile-padding;

    .title {
        @include type-style(heading-01);
    }
}
