@import "carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/theme-maps";

$carbon--theme: $carbon--theme--g10;

@import "carbon-components/scss/globals/scss/styles";

//
// Global styles
//
$button-padding-margin: 0;

.bx--overflow-menu__icon {
    fill: inherit;
}

// Default button
button {
    margin: $button-padding-margin;
    padding: $button-padding-margin;
    background-color: inherit;
    border: none;
}
