$feature-flags: (
    grid-columns-16: true
);

@import "carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/theme-maps";

$carbon--theme: $carbon--theme--g10;

@import "carbon-components/scss/globals/scss/styles";

//
// Global styles
//
div[class*="bx--col"] {
    padding: 1rem;
}
